*.iml
*.class
*.log
target/
project/target/
project/boot/
dist/
boot/
logs/
out/
build/
tmp/
projectFilesBackup/
.history/
.idea/
.idea_modules/
.DS_STORE
.cache
.settings
.project
.classpath
.ensime
.ensime_cache/
ensime.sbt
version.properties
RUNNING_PID
/bin/
